<?xml version="1.0"?>
<launch>
  <arg name="tf_prefix"             default="turtlebot_1_tf"/>
  <arg name="robot_ns"              default="turtlebot_1"/>
  <arg name="map_file"              default="/home/sergi/sources/robin50/robin50_navigation/maps/gmapping_SW.yaml"/>
  <arg name="x"                     default="-8"/>
  <arg name="y"                     default="6"/>
  <arg name="yaw"                   default="0"/>
  <arg name="merge_costmaps"        default="False"/>
  <arg name="resolution"            default="0.02"/>
  <arg name="amcl"                  default="False"/>
  <arg name="gmapping"              default="True"/>

  <!-- GAZEBO WORLD -->
  <!--<include file="$(find map2gazebo)/launch/gazebo_world.launch"/>--> 
  <env name="GAZEBO_MODEL_PATH" value="$(find map2gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time"  value="true"/>
    <arg name="debug"         value="false"/>
    <arg name="gui"           value="true" />
    <arg name="paused"        value="false"/>
    <arg name="headless"      value="false"/>
    <arg name="world_name"    value="$(find map2gazebo)/worlds/map.sdf"/>
  </include>

  <!-- ROBOT LAUNCH -->
  <group ns="$(arg robot_ns)">
    <param name="tf_prefix"         value="$(arg tf_prefix)"/>
    <!-- TURTLEBOT LAUNCH -->
    <include file="$(find map2gazebo)/launch/turtlebot.launch">
      <arg name="robot_ns"          value="$(arg robot_ns)"/>
      <arg name="tf_prefix"         value="$(arg tf_prefix)"/>
      <arg name="x"                 value="$(arg x)"/>
      <arg name="y"                 value="$(arg y)"/>
      <arg name="yaw"               value="$(arg yaw)"/>
      <arg name="merge_costmaps"    value="$(arg merge_costmaps)"/>
      <arg name="resolution"        value="$(arg resolution)"/>
    </include>
    <!-- AMCL -->
    <include file="$(find robin50_launch)/launch/navigation/robin50_amcl.launch" if="$(arg amcl)">
      <arg name="robot_ns"          value="$(arg robot_ns)"/>
      <arg name="tf_prefix"         value="$(arg tf_prefix)"/>
      <arg name="initial_pose_x"    value="$(arg x)"/>
      <arg name="initial_pose_y"    value="$(arg y)"/>
      <arg name="initial_pose_yaw"  value="$(arg yaw)"/>
      <arg name="map_file"          value="$(arg map_file)"/>
      <arg name="3d_sensor"         default="cyglidar"/>
    </include>
    <!-- GMAPPING -->
    <include file="$(find robin50_launch)/launch/navigation/robin50_gmapping.launch" if="$(arg gmapping)">
      <arg name="robot_ns"        value="$(arg robot_ns)"/>
      <arg name="tf_prefix"       value="$(arg tf_prefix)"/>
    </include>

  </group>

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find route_planner)/rviz/sim_1_robot.rviz"/>

  <!-- MAP TO ODOM STATIC TRANSFORM BROADCASTER - WITHOUT STATIC MAP -->
<!--  <node pkg="tf" type="static_transform_publisher" name="$(arg robot_ns)_map_to_odom"-->
<!--        args="$(arg x) $(arg y) 0 $(arg yaw) 0 0 map $(arg tf_prefix)/odom 50"/>-->

</launch>
